In [46]:
!conda install -c conda-forge xgboost --yes

Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /Users/TomasFox/anaconda3

  added / updated specs:
    - xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    py-xgboost-0.82            |   py27h6de7cb9_0          68 KB  conda-forge
    xgboost-0.82               |   py27h6de7cb9_0           9 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          77 KB

The following packages will be UPDATED:

  libxgboost          pkgs/main::libxgboost-0.80-h0a44026_0 --> conda-forge::libxgboost-0.82-h6de7cb9_0
  py-xgboost         pkgs/main::py-xgboost-0.80-py27h0a440~ --> conda-forge::py-xgboost-0.82-py27h6de7cb9_0
  xgboost              aterrel::xgboost-0.4.0.c4fa2f-py27_0 --> conda-forge::xgboost-0.82-py27h6de7cb9_0



Downloading and Extracting Packages
xgboost-0.82         | 9 KB      | ##################################### | 100%
py-xgboost-0.82      | 68 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [24]:
!conda install -c conda-forge category_encoders --yes

Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /Users/TomasFox/anaconda3

  added / updated specs:
    - category_encoders


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.3.9           |           py27_0         149 KB  conda-forge
    conda-4.6.14               |           py27_0         2.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.2 MB

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2019.1.23-0 --> conda-forge::ca-certificates-2019.3.9-hecc5488_0
  openssl              pkgs/main::openssl-1.1.1b-h1de35cc_1 --> conda-forge::openssl-1.1.1b-h01d97ff_2

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                         pkgs/main --> conda-forge
  conda                                           pkgs/main --> conda-forge



Downloading and Extracting Packages
certifi-2019.3.9     | 149 KB    | ##################################### | 100%
conda-4.6.14         | 2.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [ ]:
!conda install -c conda-forge eli5 --yes

In [28]:
!conda update scikit-learn --yes

Collecting package metadata: done
Solving environment: done

# All requested packages already installed.

In [1007]:
import pandas as pd
test_features = pd.read_csv('test_features.csv')
train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')

In [1008]:
train_labels['status_group'].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [1009]:
pd.set_option('display.max_columns', 1000)
test_features.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,Magoma,Manyara,21,3,Mbulu,Bashay,321,True,GeoData Consultants Ltd,Parastatal,NaN,True,2012,other,other,other,parastatal,parastatal,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,Kimnyak,Arusha,2,2,Arusha Rural,Kimnyaki,300,True,GeoData Consultants Ltd,VWC,TPRI pipe line,True,2000,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,Internal,Msatu,Singida,13,2,Singida Rural,Puma,500,True,GeoData Consultants Ltd,VWC,P,NaN,2010,other,other,other,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,Ruvuma / Southern Coast,Kipindimbi,Lindi,80,43,Liwale,Mkutano,250,NaN,GeoData Consultants Ltd,VWC,NaN,True,1987,other,other,other,vwc,user-group,unknown,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,Losonga,Ruvuma,10,3,Mbinga,Mbinga Urban,60,NaN,GeoData Consultants Ltd,Water Board,BRUDER,True,2000,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [1010]:
#7 features with Nans
test_features.isna().sum().sort_values().tail(7)

subvillage             94
permit                663
funder                783
public_meeting        785
installer             788
scheme_management     939
scheme_name          6839
dtype: int64

In [1011]:
test_features.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,14358.000000,14358.000000,14358.0000,14358.000000,1.435800e+04,14358.000000,14358.000000,14358.000000,14358.000000,14358.000000
mean,37232.859799,324.219996,653.6363,34.082414,-5.697584e+00,0.408971,15.156359,5.713052,187.055439,1298.251985
std,21382.890432,2533.367778,688.2721,6.564449,2.947444e+00,8.231859,17.387588,9.794304,476.065978,952.551852
min,10.000000,0.000000,-57.0000,0.000000,-1.156459e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18765.500000,0.000000,0.0000,33.062317,-8.453125e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37442.000000,0.000000,346.0000,34.898976,-5.087905e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55909.250000,25.000000,1306.0000,37.221606,-3.314240e+00,0.000000,17.000000,5.000000,230.000000,2004.000000
max,74249.000000,200000.000000,2777.0000,40.325016,-2.000000e-08,669.000000,99.000000,80.000000,11469.000000,2013.000000

In [1012]:
#many features with high cardinality
test_features.describe(exclude='number')

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,recorded_by,scheme_management,scheme_name,permit,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
count,14358,13575,13570,14358,14358,14264,14358,14358,14358,13573,14358,13419,7519,13695,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358,14358
unique,331,960,1075,10615,9,8253,21,124,1934,2,1,11,1772,2,17,13,7,12,5,7,7,8,6,5,5,10,7,3,7,6
top,2011-03-16,Government Of Tanzania,DWE,none,Lake Victoria,Shuleni,Shinyanga,Njombe,Igosi,True,GeoData Consultants Ltd,VWC,Borehole,True,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,communal standpipe,communal standpipe
freq,137,2117,4162,822,2535,136,1258,611,79,12308,14358,8807,158,9442,6168,6168,6168,9780,12639,6098,6098,12237,12237,7997,7997,4211,4211,11127,6790,8260

In [1013]:
#exploring features
test_features['permit'].value_counts(normalize=True)

True     0.689449
False    0.310551
Name: permit, dtype: float64

In [1014]:
test_features.shape, train_features.shape, train_labels.shape

((14358, 40), (59400, 40), (59400, 2))

In [1015]:
#majority class baseline accuracy score ~ 54% 
#our model should perform better then our naive basemodel 
train_labels['status_group'].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [1016]:
#since this is a classification problem, we will be using tree based models such as XGBoost and Random Forest
#overfitting could be an issue here, as 50% of the test set is held out in the private leaderboard 
#we will subdivide our training data set onto training and validation sets, we will use cross-validation 
#with independent test set, however we will be testing first on our new Kaggle subdivided validation set

In [1017]:
from sklearn.model_selection import train_test_split
X_train, X_train_val, y_train, y_train_val  = train_test_split(train_features, train_labels, test_size=0.1)

In [1018]:
 X_train.shape, X_train_val.shape, y_train.shape, y_train_val.shape

((53460, 40), (5940, 40), (53460, 2), (5940, 2))

In [1019]:
def wrangle(X):
    X = X.copy()
    
    #drop some columns 
    X = X.drop(columns='id') #id is random 
    X = X.drop(columns='date_recorded') #we don't care about the recorded row date 
    X = X.drop(columns='longitude') #does not add relevant data
    X = X.drop(columns='latitude') #does not add relevant data 
    X = X.drop(columns='num_private') # data dictionary has no description for this feature
    X = X.drop(columns='public_meeting') # data dictionary provides only "true/false"
    X = X.drop(columns='extraction_type_group') # # not duplicate but bery similar thus contains high variance of source feature
    X = X.drop(columns='extraction_type_class')
    X = X.drop(columns='payment_type') # duplicate feature
    X = X.drop(columns='quantity_group') # duplicate feature
    X = X.drop(columns='source_type') # not duplicate but bery similar thus contains high variance of source feature
    X = X.drop(columns='waterpoint_type_group') # not duplicate but very similar thus contains high variance of source feature
    X = X.drop(columns='region')
    X = X.drop(columns='quality_group')
    X = X.drop(columns='source_class') 
    X = X.drop(columns='management_group') 
  
    #drop high cardinality categoricals
    X = X.drop(columns='funder')
    X = X.drop(columns='installer')
    X = X.drop(columns='wpt_name')
    X = X.drop(columns='subvillage')
    X = X.drop(columns='ward')
    X = X.drop(columns='scheme_name')
               
    
    #drop Nans from 'scheme_management' and 'permit' feature 
    X['scheme_management'].dropna()
    X['permit'].dropna()
    
    return X 


X_train = wrangle(X_train)
X_train_val = wrangle(X_train_val)  
X_test = wrangle(test_features)

In [1020]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [1021]:
X_train.head()

,amount_tsh,gps_height,basin,region_code,district_code,lga,population,recorded_by,scheme_management,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type
55106,0.0,1664,Rufiji,11,4,Njombe,90,GeoData Consultants Ltd,WUA,True,1978,gravity,wua,pay when scheme fails,soft,enough,river,communal standpipe
52108,20.0,824,Pangani,3,6,Moshi Rural,60,GeoData Consultants Ltd,Water authority,True,2012,gravity,water authority,pay per bucket,soft,insufficient,spring,communal standpipe multiple
15418,2000.0,1952,Lake Nyasa,11,3,Makete,0,GeoData Consultants Ltd,VWC,False,1976,gravity,vwc,pay annually,unknown,dry,spring,communal standpipe
5003,0.0,0,Rufiji,12,7,Mbarali,0,GeoData Consultants Ltd,WUA,False,0,gravity,wua,never pay,soft,seasonal,river,communal standpipe
6725,0.0,0,Lake Rukwa,12,6,Mbozi,0,GeoData Consultants Ltd,Water Board,True,0,gravity,vwc,pay annually,soft,insufficient,river,communal standpipe

In [1022]:
y_train.head()

          id             status_group
55106  46172               functional
52108  38552               functional
15418  36446           non functional
5003   63605  functional needs repair
6725    9270  functional needs repair

In [1024]:
#1 is functional, 2 functional needs repair, 3 non functional
import category_encoders as ce
encoder = ce.OrdinalEncoder()
y_train = encoder.fit_transform(y_train)
y_train.head()

          id  status_group
55106  46172             1
52108  38552             1
15418  36446             2
5003   63605             3
6725    9270             3

In [1025]:
import category_encoders as ce
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBClassifier

encoder = ce.OrdinalEncoder()
X_train = encoder.fit_transform(X_train)
encoder = ce.OrdinalEncoder()
y_train = encoder.fit_transform(y_train['status_group'])


param_distributions = {
    'n_estimators': randint(10, 200),
    'max_depth': randint(1, 3),
}

search = RandomizedSearchCV(
    estimator=XGBClassifier(), 
    param_distributions=param_distributions, 
    n_iter=2, 
    n_jobs=-1, 
    cv=2, 
    verbose=10, 
    return_train_score=True, 
    random_state=42
)

search.fit(X_train, y_train)

Fitting 2 folds for each of 2 candidates, totalling 4 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:   15.9s
[Parallel(n_jobs=-1)]: Done   2 out of   4 | elapsed:   18.0s remaining:   18.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:   25.5s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:   25.5s finished

RandomizedSearchCV(cv=2, error_score='raise-deprecating',
          estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
          fit_params=None, iid='warn', n_iter=2, n_jobs=-1,
          param_distributions={'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1a4edb80d0>, 'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1a4ab32e10>},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score=True, scoring=None, verbose=10)

In [992]:
# from sklearn.model_selection import cross_val_score

# accuracy = cross_val_score(search, X_train_val, y_train_val, scoring='accuracy', cv=5).mean()

In [1029]:
search.best_score_

0.7079872802095024

In [1030]:
best = search.best_estimator_
best

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=1, min_child_weight=1, missing=None, n_estimators=189,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [1031]:
# import matplotlib.pyplot as plt

# figsize = (5, 15)
# plt.figure(figsize=figsize)
# importances = pd.Series(best.feature_importances_,X_train.columns).sort_values()
# importances.plot.barh()

In [1032]:
# import eli5
# from eli5.sklearn import PermutationImportance

# permuter = PermutationImportance(best, cv='prefit', scoring='accuracy', 
#                                  n_iter=2, random_state=42)

# permuter.fit(X_train_val, y_train_val.values)

In [1033]:
encoder = ce.OrdinalEncoder()
X_train_val = encoder.fit_transform(X_train_val)
X_train_val.head()

,amount_tsh,gps_height,basin,region_code,district_code,lga,population,recorded_by,scheme_management,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type
16200,50.0,-21,1,99,1,1,200,1,1,1,1985,1,1,1,1,1,1,1
56802,0.0,-15,2,7,3,2,160,1,1,2,1980,2,1,2,2,2,1,2
32814,0.0,264,1,90,33,3,30,1,1,1,1985,3,1,3,1,1,2,3
53181,0.0,842,1,10,5,4,150,1,2,2,1997,3,2,4,1,3,2,3
24270,0.0,0,3,12,1,5,0,1,1,1,0,1,1,1,1,1,1,4

In [1034]:
encoder = ce.OrdinalEncoder()
y_train_val = encoder.fit_transform(y_train_val['status_group'])
y_train_val.head()

       status_group
16200             1
56802             2
32814             1
53181             3
24270             1

In [1037]:
y_train_val['status_group'].value_counts()

1    3176
2    2285
3     479
Name: status_group, dtype: int64

In [1035]:
y_pred = best.predict(X_train_val)
y_pred = pd.DataFrame(columns=['status_group'], data=y_pred)
y_pred.head()

   status_group
0             1
1             1
2             1
3             2
4             1

In [1039]:
y_pred['status_group'].value_counts()

1    3617
2    2321
3       2
Name: status_group, dtype: int64

In [1040]:
#calculate accuracy for a-la-Kaggle test score 
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_train_val, y_pred)
accuracy

0.5058922558922558

In [1041]:
#calculate predictions for submission
encoder = ce.OrdinalEncoder()
X_test = encoder.fit_transform(X_test)
y_pred_submission = best.predict(X_test)
a = pd.DataFrame(columns={'status_group'}, data=y_pred_submission)
a['status_group'].value_counts()

1    9610
2    4748
Name: status_group, dtype: int64

In [1042]:
sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred_submission
submission = submission.replace({1: 'functional', 3: 'functional needs repair', 2: 'non functional'})
submission.to_csv('praywithme.csv', index=False)

In [1043]:
submission['status_group'].value_counts(normalize=True)

functional        0.669313
non functional    0.330687
Name: status_group, dtype: float64